.border-none {
  border: none !important;
}

.broken-line {
  border-bottom: 2px solid #ccc;
}

.defaul-text {
  color: #057d92 !important;
  text-decoration: none !important;
}

.default-bg {
  background-color: #038299 !important;
}

.defaul-bg:hover {
  background-color: #04b0ce !important;
}
